@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Space Grotesk';
}

body {
   background-image: url(imagens/pc-gamer.jpg);
   
}

html{
    white-space:nowrap;
    }
    body {
    display:inline-block;
    overflow-x: hidden
    }

    html, body 
{ 
 height: 100%;
 overflow: hidden
}

.cabecalho {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    padding-left: 50px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.menu a.link-ativo {
    color: white;
    font-weight: bold;
}



.seta {
    padding-left: 10px;
    position: absolute;
    width: 14px;
    height: 0px;
    left: 1665px;
    top: 29px;
}

.banner01-titulo {
    position: absolute;
    width: 570px;
    height: 371px;
    left: 150px;
    top: 200px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 87px;
    line-height: 93px;
    color: #ffffff;
    padding-left: 170px;
}

.banner-col-direita {
    align-items: center;
    position: absolute;
    width: 704.96px;
    height: 960.55px;
    left: 714.54px;
    top: 253.95px;
    width: 704.96px;
    top: 253.95px;
    right: 40px;
    padding-left: 230px;

}

.banner01-paragrafo {
    position: absolute;
    width: 553px;
    height: 93px;
    left: 150px;
    top: 680px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: white;
    padding-left: 170px;
}

.container img{
   max-width: 200px;
   max-height: 200px;
   top: 100px;
}