@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Space Grotesk';
}

body {
    background-color: #ef7c00;
}

html{
    white-space:nowrap;
    }
    body {
    display:inline-block;
    overflow-x: hidden
    }

    html, body 
{ 
 height: 100%;
 overflow: hidden
}

.cabecalho {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    padding-left: 50px;
}

.menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
}

.menu a.link-ativo {
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: #007bff;

}



.banner01-titulo {
    position: absolute;
    width: 570px;
    height: 371px;
    left: 150px;
    top: 200px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 87px;
    line-height: 93px;
    color: #5e5e5e;
    padding-left: 170px;
}

.banner-col-direita {
    align-items: center;
    position: absolute;
    width: 704.96px;
    height: 960.55px;
    left: 714.54px;
    top: 253.95px;
    width: 704.96px;
    top: 253.95px;
    right: 40px;
    padding-left: 230px;

}

.banner01-paragrafo {
    position: absolute;
    width: 553px;
    height: 93px;
    left: 150px;
    top: 680px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    padding-left: 170px;
}

.divisor {
    position: absolute;
    width: 1915px;
    height: 0px;
    left: 0px;
    top: 59px;
    border: 1px solid #5e5e5e;
}

.selfie{
        position: absolute;
        width: 671px;
        height: 901px;
        left: 1010px;
        top: 179px;
        background: url(.png);
        padding-left: 350px;
}

.fone {
    position: absolute;
    width: 671px;
    height: 901px;
    left: 1011px;
    top: 277px;
    background: url(.png);
    padding-left: 440px;
}

.play5{
    align-items: center;
    position: absolute;
    width: 455px;
    height: 455px;
    left: 980px;
    width: 704.96px;
    top: 300px;
    right: 40px;
    padding-left: 400px;
}

.bolinha{
    align-items: center;
    position: absolute;
    width: 455px;
    height: 455px;
    left: 1060px;
    width: 704.96px;
    top: 350px;
    right: 40px;
    padding-left: 400px;
}